#navItemDiv{
    border: 1px dotted white;
    width: 130px;
    height: 50px;
    padding-top: 10px;
}

#navItem{
    color: #FCBF49;
    font-size: 1.4em;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 20px;
}

#navItem:hover{
    color: #003049;
    background-color:#FCBF49;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}